{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<header class="mb-5">
    {{> header}}
</header>

<main>

    <div class="mt-5">
        {{#with header}}

        <h1>{{title}}</h1>

        {{#with button}}
        <a class="btn btn-outline-secondary" href="{{link}}">{{text}}</a>
        {{/with}}
        {{/with}}
    </div>

    <hr class="my-5">

    <div>
        {{#each goodsBlock}}
        {{> cartGoodsItem}}
        {{/each}}
    </div>

    <hr class="my-5">

    <div>
        {{#with total}}

        <h4>{{title}}</h4>

        <p class="fs-2 mb-1">{{amount}}</p>

        <p class="mb-4">{{delivery}}</p>

        {{#each buttons}}
        <div>
            {{#if isSuccess}}
            <a class="btn btn-success mb-3" href="{{link}}">{{text}}</a>
            {{/if}}
        </div>
        <div>
            {{#if isOutline}}
            <a class="btn btn-outline-success" href="{{link}}">{{text}}</a>
            {{/if}}
        </div>
        {{/each}}

        {{/with}}
    </div>

    <hr class="my-5">

    <div class="col-12">
        {{#with goodsOtherBlock}}

        <h3 class="text-center mb-3">{{title}}</h3>

        <div class="row g-2">
            {{#each cards}}

            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{image}}">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}
                            {{#if isHot}}
                            <span class="badge rounded-pill text-bg-warning">HOT!</span>
                            {{/if}}
                            {{#if idNew}}
                            <span class="badge rounded-pill text-bg-primary">Нове</span>
                            {{/if}}
                        </h4>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>

    <hr class="my-5">

    <div class="col-12">

        {{#with subscribe}}
        {{> cardDark}}
        {{/with}}

    </div>

    <hr class="mt-5 mb-2">

</main>

<footer>
    {{> footerBootstrap}}
</footer>
{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}