{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<header>
    {{#with navigation}}
    <nav>
        {{#each links}}
        <a href="{{href}}" class="btn btn-link ">{{text}}</a>
        {{/each}}
        <button class="btn btn-primary ">{{button.text}}</button>
    </nav>
    {{/with}}

    <hr>

    {{#with header}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <a href="{{button.href}}" class="btn btn-primary ">{{button.text}}</a>
    {{/with}}

    <hr class="mt-5">
</header>

<main>
    <div class="row g-4">
        <section>
            {{#with city}}

            <h2 class="mt-2 mb-4">{{title}}</h2>

            <div class="row gx-2 mb-3">
                {{#each cards}}
                <div class="card col-6">
                    <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
                    <div class="card-body">
                        <h5 class="card-title ">{{title}}</h5>
                        <p>{{description}}</p>
                        <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}

        </section>

        <hr>

        <section>
            <div class="col-9 mb-4">
                {{#with winner}}
                <h2 class="mb-4">{{title}}</h2>

                {{#with table}}
                <table class="table">
                    <thead>
                        <tr>
                            {{#each head}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                        <tr>
                            <td>{{place}}</td>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>@{{nickname}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/with}}
                {{/with}}
            </div>

        </section>

        <hr class="row my-4">

        <section>
            <div class="col-12 mb-4">
                {{#with relaxion}}
                <p class="display-3">{{title}}</p>

                <div class="row g-1">
                    {{#each cards}}
                    <section class="col-5 ">
                        <div class="card text-bg-secondary ">
                            <div class="card-header ">{{header}}</div>
                            <div class="card-bodyr">
                                <h6 class="card-title">{{title}}</h6>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    </section>
                    {{/each}}
                </div>
                {{/with}}
            </div>

        </section>

        <hr>

        <section>
            <div class="row g mb-3">
                {{#each rest.cards}}
                <div class="col-6">
                    <div class="card ">
                        <div class="card-header text-center text-bg-light">{{header}}</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">{{title}}</h6>
                            <p>{{description}}</p>
                            <button class="btn btn-primary">{{button}}!</button>
                        </div>
                        <div class="card-footer text-center text-bg-light">{{footer}}</div>
                    </div>
                </div>
                {{/each}}
            </div>

        </section>

        <hr>

        <section class="mb-3">
            {{#with proposition}}
            <div class="display-2 mb-5">{{title}}</div>

            <div class="row ">
                {{#each card}}
                <div class="col-5">
                    <div class="card text-bg-warning">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h6>{{title}}</h6>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr>
    </div>
</main>

<footer>
    {{#with footer}}
    <h5>{{title}}</h5>
    <section class="col-9 row gx-4">
        <div class="col-4 row">
            <div class="row g-2">
                {{#each navigation}}
                <a href="{{href}}" class="btn btn-link">{{text}}</a>
                {{/each}}
            </div>
        </div>
        <div class="col-4 row">
            <div class="row g-2">
                {{#each socialMedia}}
                <a href="{{link}}" class="btn btn-outline-dark ">{{name}}</a>
                {{/each}}
            </div>
        </div>
        <div class="col-4 row">
            <div class="row g-2 ">
                {{#each partners}}
                <a href="{{link}}" class="btn btn-outline-info ">{{name}}</a>
                {{/each}}
            </div>
        </div>
    </section>
    {{/with}}
</footer>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}