{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>
    <h1>Web</h1>
    <hr>
    <h2>Languages:</h2>
    {{#each web.languages}}
    <ul>
        <li class="my-4">
            <p><b>Name: </b>{{name}}</p>
            <p><b>Version: </b>{{version}}</p>
            <p><b>Description: </b>{{description}}</p>
            {{#if elements}}
            <h3>Elements:</h3>
            {{#each elements}}
            <ul>
                <li>
                    <p><b>Name: </b>{{name}}</p>
                    <p><b>Description: </b>{{description}}</p>
                    <h4>Attributes:</h4>
                    <ul>
                        {{#each attributes}}
                        <li>
                            <p><b>{{name}}</b> - {{description}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            {{/each}}
            {{/if}}
            {{#if properties}}
            <h3>Properties:</h3>
            {{#each properties}}
            <ul>
                <li>
                    <p><b>Name: </b>{{name}}</p>
                    <p><b>Description: </b>{{description}}</p>
                    <h4>Values:</h4>
                    <ul>
                        {{#each values}}
                        <li>
                            <p><b>{{value}}</b> - {{description}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            {{/each}}
            {{/if}}
            {{#if functions}}
            <h3>Functions:</h3>
            {{#each functions}}
            <ul>
                <li>
                    <p><b>Name: </b>{{name}}</p>
                    <p><b>Description: </b>{{description}}</p>
                    <h4>Parameters:</h4>
                    <ul>
                        {{#each parameters}}
                        <li>
                            <p><b>{{name}}</b> ({{type}}) - {{description}}</p>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            {{/each}}
            {{/if}}
        </li>
        <hr class="my-4">
    </ul>
    {{/each}}
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}