<div class="col-6 gx-1 gy-2">
    <div class="card">
        <img class="card-img-top" src="{{img}}">
        <div class="card-body">
            <h4 class="mb-4">
                {{#if isHot}}
                <span class="badge rounded-pill text-bg-warning">HOT!</span>
                {{/if}}
                {{#if isNew}}
                <span class="badge rounded-pill text-bg-primary">Нове</span>
                {{/if}}
            </h4>

            <div>
                {{#if isFast}}
                <button class="btn btn-success mb-2">Швидка доставка</button>
                {{/if}}
                {{#if isFree}}
                <button class="btn btn-secondary">Безкоштовна доставка</button>
                {{/if}}
            </div>

            <h5 class="my-3">{{name}}</h5>

            {{#with review}}
            <p>{{amount}} {{text}}</p>
            {{/with}}

            <h4>{{price}}</h4>

            <p>{{delivery}}</p>

            {{#each buttons}}

            {{#if isPrimary}}
            <a class="btn btn-primary mb-2" href="{{link}}">{{text}}</a>
            {{/if}}
            {{#if isSecondary}}
            <a class="btn btn-secondary" href="{{link}}">{{text}}</a>
            {{/if}}

            {{/each}}

            <ul class="mt-3">
                {{#each characteristics}}
                <li>{{title}}: {{value}}</li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>